.area{margin-bottom:20px;width:45%;height:50%;margin-left:38vw;}
.espaco{width:100%;height:25%;}
body{background-color:#ad1c23 !important}
#dados-personagem{width:50vw;height:auto;background:lightgray;margin-left:38vw;}
#escolha{position:absolute;top:0;}