/*{margin:0px;padding:0px;}
a{text-decoration:none;color:white;}

table{width:80%;margin:100px auto 0px auto;height:50px;text-align:center;border-collapse: collapse;background:white;}
#topo{background:gray;}
td{border:1px solid black;}

#topo-pagina{width:100%;border-bottom:1px solid #3b2426;background:#3b2426}
#topo-pagina a{padding-right:10px;}

#s{width:100px;height:50px;}
h5{text-align:center;font-size:30px;color:orange;font-weight:normal;font-family:arial;}


#botaos{width:20px; height:10px;position:absolute;top:109px;left:200px; } */
body{background-color:brown !important;}
td a {color:black !important;}
a{color:black !important;margin-left:2vw;font-size:100%;}
a i{color:#aaffff;}
table{background:white !important;width:100vw !important;}
img{height:100px;max-width:100px;width:auto;object-fit: fill;}
#buscar{float:right;}
h6{font-size:15px;float:right;font-weight:normal;color:white;}